---
import DropInfo from '@/components/info/dropInfo.astro';
import DropInfoMe from './dropInfoMe.astro';
import Img from '../img.astro';
---
<head>
    <script defer src="./public/scripts/globalState.js"></script> 
</head>
<div class="flex flex-row-reverse mr-40">
    <div >
        <Img />
    </div>
    <ul class="pr-80 ">
        <li x-data="{ open: false, toggle() { this.open = !this.open } }">
            <button @click="toggle()" class="none"><h2 class="font-semibold">IT та програмування</h2></button>
            <div x-show="open">
                <DropInfo />
            </div>
        </li>
        <li x-data="{ openTwo: false, toggle() { this.openTwo = !this.openTwo } }">
            <button @click="toggle()" class="none"><h2 class="font-semibold">Інфа про життя та вобще хто я такий</h2></button>
            <div x-show="openTwo">
                <DropInfoMe />
            </div>
        </li>
    </ul>
    
</div>
