---
import '@/styles/globals.css';
import InfoCard from '@/components/infoCard.astro';

---

<head>
  <meta charset="utf-8" />
  <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/collapse@3.x.x/dist/cdn.min.js"></script>
  <script defer src="./scripts/globalState.js"></script> 
</head>
<body>
  <video autoplay muted loop id="myVideo">
    <source src="/chainsaw-man-girls-moewalls-com.mp4" type="video/mp4">
  </video>

  <div x-data="$store.globalState">
    <div class="flex items-center justify-center min-h-screen">
      <button @click="$store.globalState.open = !$store.globalState.open" class="border-2 bg-gray-950 text-zinc-400 font-bold py-2 px-6 rounded hover:bg-neutral-950 hover:text-indigo-900">
        info
      </button>
    </div>

    <div class="info-card shadow-2xl" x-show="$store.globalState.open">
        <InfoCard />
    </div>
  </div>

  <style>
    #myVideo {
      position: fixed;
      right: 0;
      bottom: 0;
      min-width: 100%;
      min-height: 100%;
      z-index: -1; 
    }
    .info-card {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8); 
    align-items: center;
    justify-content: center;
    z-index: 20; 
    overflow: auto; 
  }
  </style>
</body>
