
<h1>LOAD......</h1>
<script>
      function redirectBasedOnScreenSize() {
      
      const mobileWidth = 750;
      const mobileHeight = 700;
      
    
      const width = window.innerWidth;
      const height = window.innerHeight;

     
      if (width <= mobileWidth && height <= mobileHeight) {
        window.location.href = '/index-mobile'; 
      } else {
        window.location.href = '/index-ua'; 
      }
    }

     
    window.addEventListener('load', redirectBasedOnScreenSize);

   
    window.addEventListener('resize', redirectBasedOnScreenSize);
</script>