---
import InfoCardMobile from "@/components/infoCardMobile.astro";
---

<head>
  <meta charset="utf-8" />
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  <script defer src="./scripts/globalState.js"></script>
</head>

<body class="no-scroll">
  <div x-data="$store.globalState">
    <img id="mobilePhoto" src="./mobile.jpg" alt="" srcset="">
    <div x-data="{ open: false }" class="relative flex justify-center pt-2">
      <button @click="open = !open" class="bg-gray-700 text-white py-2 px-4 rounded focus:outline-none">
        lang
        <svg class="w-4 h-4 inline ml-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
        </svg>
      </button>
      <div x-show="open" @click.away="open = false" class="absolute bg-gray-700 text-white rounded mt-2 w-40 shadow-lg">
        <ul>
          <li>
            <a href="/index-mobile" class="block px-4 py-2 hover:bg-gray-600">UA</a>
          </li>
          <li>
            <a href="/index-mobile-en" class="block px-4 py-2 hover:bg-gray-600">EN</a>
          </li>
        </ul>
      </div>
    </div>
      <div class="flex items-center justify-center min-h-screen">
        <button @click="$store.globalState.open = !$store.globalState.open" class="bg-gray-950 text-zinc-300 font-bold py-2 px-6 text-2xl w-64 h-24 rounded">
          info
        </button>
      </div>
      
      <div class="info-card" x-show="$store.globalState.open">
        <InfoCardMobile />
      </div>
    </div>
  </div>
</body>

<style>
  #mobilePhoto {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }

  .info-card {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
    overflow: auto;
  }

  .header {
    position: relative;
    padding: 1rem;
    z-index: 10;
  }

  .dropdown-button {
    background-color: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    border-radius: 0.25rem;
  }

  .dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    width: 200px;
    z-index: 30; /* Ensure dropdown is above other content */
  }

  .dropdown-item {
    padding: 0.75rem 1rem;
    text-decoration: none;
    color: #333;
    display: block;
  }

  .dropdown-item:hover {
    background-color: #f1f1f1;
  }
  .no-scroll {
  overflow: hidden;
}
</style>
