---
import InfoEn from "./info-en/info-en.astro";
import '@/styles/globals.css';
---
<main>
    <div class="bg-neutral-900 m-20 p-20  rounded-md" >
        <div class="text-zinc-50">
            <InfoEn />
        </div>
    </div>
</main>
