---
import '@/styles/globals.css';
import Info from './info/info.astro';

---

<main>
    <div class="bg-neutral-900 m-20 p-20  rounded-md" >
        <div class="text-zinc-50">
            <Info />
        </div>
    </div>
</main>
