---
import InfoMobileEn from "./info-mobile-en/infoMobile-en.astro";

---
<head>
    <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/collapse@3.x.x/dist/cdn.min.js"></script>
</head>
<main>
    <div class="bg-neutral-900 m-20 p-20 rounded-md" > 
        <div class="text-zinc-50">
            <InfoMobileEn />
        </div>
    </div>
</main>
