---
import '@/styles/globals.css';
import Info from './info/info.astro';
---

<main>
    <div class="bg-neutral-900 border-4 border-rose-500 border-inherit rounded-md" >
        <div class="text-zinc-50 pl-4">
            <Info />
        </div>
    </div>
</main>
